@import 'tailwindcss';
@tailwind utilities;

:root {
  /* Color variables */
  --color-primary-100: #e8e8fc;
  --color-primary-200: #d2d1f9;
  --color-primary-300: #bbbaf6;
  --color-primary-400: #a5a3f3;
  --color-primary: #8e8cf0;
  --color-primary-600: #7270c0;
  --color-primary-700: #555490;
  --color-primary-800: #393860;
  --color-primary-900: #1c1c30;

  --color-secondary-100: #b1b1ce;
  --color-secondary-200: #8a8ab5;
  --color-secondary-300: #63639d;
  --color-secondary-400: #505090;
  --color-secondary: #3c3c84;
  --color-secondary-600: #282861;
  --color-secondary-700: #24244f;
  --color-secondary-800: #141333;
  --color-secondary-900: #0c0c1a;

  /* Font variables */
  --font-montserrat: 'Montserrat', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
}

/* Font setup */
body {
  font-family: var(--font-montserrat), var(--font-open-sans), Arial, Helvetica, sans-serif;
}

/* Base styles */
@layer base {
  body {
    background-color: var(--color-secondary-900);
    color: var(--color-primary-100);
  }
}

@layer utilities {
  .c-light-primary {
    color: var(--color-primary-100) !important;
  }
  .c-light-secondary {
    color: var(--color-secondary-100);
  }
  .c-dark-primary {
    color: var(--color-primary-900) !important;;
  }
  .c-dark-secondary {
    color: var(--color-secondary-900);
  }

  .bg-primary-gradient {
    background: linear-gradient(
      0deg,
      var(--color-primary-700),
      var(--color-primary-900)
    );
  }
  .text-light-on-hover:hover {
    color: var(--color-primary-100);
  }
  .text-dark {
    color: var(--color-primary-900);
  }
}
