@import 'tailwindcss';
@tailwind utilities;

:root {
  /* Color variables */
  --color-primary-100: #e8e8fc;
  --color-primary-200: #d2d1f9;
  --color-primary-300: #bbbaf6;
  --color-primary-400: #a5a3f3;
  --color-primary: #8e8cf0;
  --color-primary-600: #7270c0;
  --color-primary-700: #555490;
  --color-primary-800: #393860;
  --color-primary-900: #1c1c30;

  --color-secondary-100: #b1b1ce;
  --color-secondary-200: #8a8ab5;
  --color-secondary-300: #63639d;
  --color-secondary-400: #505090;
  --color-secondary: #3c3c84;
  --color-secondary-600: #282861;
  --color-secondary-700: #24244f;
  --color-secondary-800: #141333;
  --color-secondary-900: #0c0c1a;

  /* Font variables */
  --font-montserrat: 'Montserrat', sans-serif;
}

/* Font setup */
body {
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

/* Base styles */
@layer base {
  body {
    background-color: var(--color-secondary-900);
    color: var(--color-primary-100);
  }
}

@layer utilities {
  .bg-primary-gradient {
    background: linear-gradient(
      0deg,
      var(--color-primary-700),
      var(--color-primary-900)
    );
  }
  .fade-in {
    animation: fade-in 0.25s ease-in-out forwards;
  }
  .fade-out {
    animation: fade-out 0.25s ease-in-out forwards;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
